<div *ngIf="lat && lng">

  <agm-map [latitude]="lat" [longitude]="lng">

    <agm-marker [latitude]="lat" [longitude]="lng">

      <agm-info-window>
        <h3><strong>Howdy!</strong></h3>
        <p>You are here!</p>
      </agm-info-window>

    </agm-marker>


    <!--Nearby User Locations -->
    <agm-marker *ngFor="let marker of markers"
      [latitude]="marker.location[0]"
      [longitude]="marker.location[1]"
      [iconUrl]="'https://cdn1.iconfinder.com/data/icons/designer-s-tools-1/512/Coffee-64.png'">

      <agm-info-window>
        <h3><strong>Location Details</strong></h3>
        <p>You are {{ marker.distance }} kilometers from this point</p>
      </agm-info-window>

    </agm-marker>


  </agm-map>

<div>
